<h1>Update - <%= @project.title %></h1>

<form action="/projects/<%= @project.id %>" method="post">
  <input name="_method" type="hidden" value="patch">
  <div class="form-group">
    <label for="edit-project-title">Retitle project</label>
    <input id="edit-project-title" name="title" class="form-control" type="text" value="<%= @project.title %>" required>
  </div>
  <button type="submit">Update Project</button>
</form>

<p><a href="/projects/<%= @project.id %>">Return to project description</a></p>
