<!DOCTYPE html>
<html lang="en-US">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/styles.css" type="text/css">
  <title>Three Cheers</title>
</head>

<body>
  <div class="container">
    <header>
      <div class="jumbotron">
        <img id="logo" src="/img/logo.png" alt="Three Cheers logo">
      </div>
      
      <nav class="navbar navbar-expand navbar-light bg-light">
        <span class="navbar-brand mb-0 h1">
          <img src="/img/icon.png" width="30" height="30" alt="Three Cheers icon">
        </span>
        
        <div>
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" href="/projects">Projects</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/volunteers">Volunteers</a>
            </li>
          </ul>
        </div>
      </nav>
    </header>
    
    <%= yield %>
  
  </div>
</body>

</html>
