<h3>Add a new project</h3>

<form action="/projects" method="post">
  <div class="form-group">
    <label for="title">Project</label>
    <input id="new-project-title" name="title" class="form-control" type="text" required>
  </div>
  <button type="submit" class="btn btn-dark">Create Project</button>
</form>

<p><a href="/projects">Return to projects list</a></p>
