<h3>Add a new project</h3>
<form action="/projects" method="post">
  <div class="form-group">
    <label for="new-project-title">Project</label>
    <input id="new-project-title" name="title" class="form-control" type="text" required>
  </div>
  <button type="submit" class="btn btn-dark">Create Project</button>
</form>

<h3>All Available Projects</h3>
<% if @projects.any? %>
  <ul>
    <% @projects.each do |project| %>
      <li><a href="/projects/<%= project.id %>"><%= project.title %></a></li>
    <% end %>
  </ul>
<% else %>
  <p>Sorry, we don't have any projects at the moment.</p>
<% end %>
