<h3>Projects List</h3>
<% if @projects.any? %>
  <ul>
    <% @projects.each do |project| %>
      <li><a href="/projects/<%= project.id %>"><%= project.title %></a></li>
    <% end %>
  </ul>
<% else %>
  <p>Sorry, we don't have any projects at the moment.</p>
<% end %>

<hr>

<h5>Add a new project</h5>
<form action="/projects" method="post">
  <div class="form-group">
    <input id="new-project-title" name="title" class="form-control" type="text" placeholder="Enter a project title here" required>
  </div>
  <button type="submit" class="btn btn-dark">Create Project</button>
</form>
