body {
  margin-left: 120px;
  margin-right: 120px;
}

#logo {
  margin: auto;
  width: 70%;
  display: block;
}

h3 {
  margin-top: 40px;
}

hr {
  margin-top: 40px;
  margin-bottom: 40px;
}

p, .btn-danger {
  margin-top: 20px;
}
